@font-face {
  font-family: "iconfont"; /* Project id 4698117 */
  src: url('iconfont.woff2?t=1727598387232') format('woff2'),
       url('iconfont.woff?t=1727598387232') format('woff'),
       url('iconfont.ttf?t=1727598387232') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-hanbao:before {
  content: "\e646";
}

.icon-icon-hanbaolan:before {
  content: "\e6b6";
}

.icon-xia:before {
  content: "\e72e";
}

.icon-yule:before {
  content: "\e699";
}

.icon-denglu:before {
  content: "\e62e";
}

.icon-youlian:before {
  content: "\e640";
}

.icon-home:before {
  content: "\e603";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-faxian:before {
  content: "\e8c4";
}

.icon-houtaiguanli-houtaiguanli:before {
  content: "\e636";
}

